{% extends 'base.html.twig' %}

{% block title %}
  Cats list
{% endblock %}

{% block body %}
  <h1>
    Cats list
  </h1>
  {% if cats is empty %}
    <p>
      No cat around.
    </p>
  {% endif %}
  <p>
    Do you want to
    <a href="{{ path('add_cat') }}">add a new cat</a>?
  </p>
  <ul>
    {% for cat in cats %}
      <li>
        <img class="cat"
          width="300"
          height="200"
          src="{{ cat.url }}"
          alt="{{ cat.name }} the cat" />
      </li>
    {% endfor %}
  </ul>
{% endblock %}
